In [2]:
import pandas as pd
import numpy as np

In [191]:
df = pd.read_csv('../nss_capstone/nba_odds_no_covid_07_22.csv').drop(columns = ['Unnamed: 0', 'Unnamed: 0.1', 'Rot']).fillna('')

In [192]:
df['game_id'] = (df.index // 2) + 1
df.insert(0, 'game_id', df.pop('game_id'))

In [193]:
df['ML'] = pd.to_numeric(df['ML'], errors='coerce')

df['Open Spread'] = pd.to_numeric(df['Open Spread'], errors='coerce')
df['Close Spread'] = pd.to_numeric(df['Close Spread'], errors='coerce')

if (df['ML'] < 0).any():
    # Update Open Spread and Close Spread values to negative for negative ML rows
    df.loc[df['ML'] < -1, ['Open Spread', 'Close Spread']] *= -1

In [194]:
df[['game_id', 'Team','ML','Open Spread', 'Close Spread']].head(6)

   game_id          Team     ML  Open Spread  Close Spread
0        1        Boston -175.0         -2.5          -4.0
1        1  Golden State  155.0          NaN           NaN
2        2  Golden State -165.0         -3.5          -4.0
3        2        Boston  145.0          NaN           NaN
4        3        Boston -165.0         -2.5          -4.0
5        3   GoldenState  145.0          NaN           NaN

In [195]:
# x = df.loc[df['game_id'] == 17985]
x[['ML','Open Spread', 'Close Spread']]

          ML  Open Spread  Close Spread
35968  190.0          NaN           NaN
35969 -230.0         -2.5          -5.0

In [65]:
# df = df[['game_id','Date','VH','Team', 'Final','ML','Open Total', 'Close Total',
#     'Open Spread', 'Close Spread', 'Score_Diff','W/L_bool', 'ATS', 'Push', 'W/L_fav',
#    'W/L_dog', 'ATS_fav', 'ATS_dog',]]

In [51]:
# #df.loc[df['game_id'] == 17988]
# num_games = 8

# # Get a random sample of game_ids
# random_game_ids = df['game_id'].sample(num_games).tolist()

# # Filter the DataFrame based on the selected game_ids
# r_df = df[df['game_id'].isin(random_game_ids)]

# r_df