In [2]:
import pandas as pd
import numpy as np

In [335]:
df = pd.read_csv('../nss_capstone/nba_odds_no_covid_07_22.csv').drop(columns = ['Unnamed: 0', 'Unnamed: 0.1', 'Rot']).fillna('')

In [336]:
df['game_id'] = (df.index // 2) + 1
df.insert(0, 'game_id', df.pop('game_id'))

In [337]:
df['ML'] = pd.to_numeric(df['ML'], errors='coerce')

df['Open Spread'] = pd.to_numeric(df['Open Spread'], errors='coerce')
df['Close Spread'] = pd.to_numeric(df['Close Spread'], errors='coerce')

if (df['ML'] < 0).any():
    # Update Open Spread and Close Spread values to negative for negative ML rows
    df.loc[df['ML'] < -1, ['Open Spread', 'Close Spread']] *= -1

In [338]:
df[['game_id', 'Team','ML','Open Spread', 'Close Spread']].head(12)

    game_id          Team     ML  Open Spread  Close Spread
0         1        Boston -175.0         -2.5          -4.0
1         1  Golden State  155.0          NaN           NaN
2         2  Golden State -165.0         -3.5          -4.0
3         2        Boston  145.0          NaN           NaN
4         3        Boston -165.0         -2.5          -4.0
5         3   GoldenState  145.0          NaN           NaN
6         4        Boston -155.0         -2.5          -3.5
7         4   GoldenState  135.0          NaN           NaN
8         5   GoldenState -200.0         -3.5          -5.0
9         5        Boston  175.0          NaN           NaN
10        6   GoldenState -165.0         -2.0          -3.5
11        6        Boston  145.0          NaN           NaN

In [339]:
num_games = 8

# Get a random sample of game_ids
random_game_ids = df['game_id'].sample(num_games).tolist()

# Filter the DataFrame based on the selected game_ids
r_df = df[df['game_id'].isin(random_game_ids)]

r_df

,game_id,Date,VH,Team,1st,2nd,3rd,4th,Final,Open,Close,ML,2H,Open Total,Close Total,Open Spread,Close Spread,W/L
296,149,2022-04-03,H,Houston,32,36,24,40,132,244.0,246.5,750.0,119.5,244.0,246.5,NaN,NaN,L
297,149,2022-04-03,V,Minnesota,42,38,36,23,139,12.5,13.5,-1200.0,4,,,-12.5,-13.5,W
8080,4041,2018-03-19,H,Indiana,29,28,35,18,110,5.0,5.0,-220.0,4.5,,,-5.0,-5.0,W
8081,4041,2018-03-19,V,LALakers,37,22,21,20,100,219.5,220.0,180.0,108.5,219.5,220.0,NaN,NaN,L
11922,5962,2016-12-22,H,Brooklyn,34,31,19,17,101,231.0,231.0,900.0,113.0,231.0,231.0,NaN,NaN,L
11923,5962,2016-12-22,V,GoldenState,33,16,39,29,117,14.0,13.0,-1600.0,13.0,,,-14.0,-13.0,W
16790,8396,2015-12-01,H,Minnesota,21,17,19,18,75,211.0,214.0,380.0,0.0,211.0,214.0,NaN,NaN,L
16791,8396,2015-12-01,V,Dallas,24,35,16,23,98,8.0,9.5,-505.0,105.0,,,-8.0,-9.5,W
20418,10210,2013-11-16,H,Charlotte,16,25,19,21,81,196.0,193.0,320.0,95.5,196.0,193.0,NaN,NaN,L
20419,10210,2013-11-16,V,Miami,26,19,23,29,97,8.5,8.5,-410.0,4.0,,,-8.5,-8.5,W
29858,14930,2009-12-25,H,Phoenix,30,37,34,23,124,10.0,9.5,-550.0,1.5,,,-10.0,-9.5,W
29859,14930,2009-12-25,V,LAClippers,26,29,22,16,93,212.5,215.0,425.0,105.0,212.5,215.0,NaN,NaN,L
31596,15799,2009-02-27,H,SanAntonio,13,25,18,30,86,176.0,177.0,155.0,88.0,176.0,177.0,NaN,NaN,L
31597,15799,2009-02-27,V,Cleveland,27,18,32,20,97,3.0,4.0,-175.0,0.5,,,-3.0,-4.0,W
35838,17920,2007-11-09,H,Boston,24,31,19,32,106,7.0,8.5,-430.0,0,,,-7.0,-8.5,W
35839,17920,2007-11-09,V,Atlanta,19,22,20,22,83,194.0,193.0,360.0,97.5,194.0,193.0,NaN,NaN,L

In [340]:
df['Open Spread'] = df.groupby('game_id')['Open Spread'].bfill().ffill()
df['Close Spread'] = df.groupby('game_id')['Close Spread'].bfill().ffill()

In [341]:
x = df.loc[df['game_id'] == 17985]
x[['game_id','ML','Open Spread', 'Close Spread']]

       game_id     ML  Open Spread  Close Spread
35968    17985  190.0         -2.5          -5.0
35969    17985 -230.0         -2.5          -5.0

In [342]:
df['ML'] = pd.to_numeric(df['ML'], errors='coerce')

df['Open Spread'] = pd.to_numeric(df['Open Spread'], errors='coerce')
df['Close Spread'] = pd.to_numeric(df['Close Spread'], errors='coerce')

if (df['ML'] > 0).any():
    # Update Open Spread and Close Spread values to negative for negative ML rows
    df.loc[df['ML'] > 1, ['Open Spread', 'Close Spread']] *= -1

In [343]:
x = df.loc[df['game_id'] == 17985]
x[['game_id','ML','Open Spread', 'Close Spread']]

       game_id     ML  Open Spread  Close Spread
35968    17985  190.0          2.5           5.0
35969    17985 -230.0         -2.5          -5.0

In [344]:
df = df[['game_id','Date','VH','Team', 'Final','ML','Open Total', 'Close Total',
    'Open Spread', 'Close Spread']]

In [325]:
# # #df.loc[df['game_id'] == 17988]
# num_games = 8

# # Get a random sample of game_ids
# random_game_ids = df['game_id'].sample(num_games).tolist()

# # Filter the DataFrame based on the selected game_ids
# r_df = df[df['game_id'].isin(random_game_ids)]

# r_df[['game_id','Team','ML']].head(6)

       game_id        Team      ML
6472      3237     Indiana -1400.0
6473      3237     Atlanta   800.0
11658     5830  Washington  -900.0
11659     5830     Chicago   600.0
11764     5883     Chicago   100.0
11765     5883   Charlotte  -120.0

In [345]:
for game_id in df['game_id'].unique():
    game_rows = df[df['game_id'] == game_id]
    
    if game_rows.iloc[1]['ML'] < 0:
        df.loc[game_rows.index[0]], df.loc[game_rows.index[1]] = df.loc[game_rows.index[1]].copy(), df.loc[game_rows.index[0]].copy()

In [347]:
df.loc[df['game_id'] == 17985]

,game_id,Date,VH,Team,Final,ML,Open Total,Close Total,Open Spread,Close Spread
35968,17985,2007-10-30,V,Houston,95,-230.0,,,-2.5,-5.0
35969,17985,2007-10-30,H,LALakers,93,190.0,191.0,199.0,2.5,5.0

In [348]:
df['W/L_fav'] = 0  # Initialize 'W/L_fav' column with zeros

for i in range(0, len(df), 2):
    favorite_ml = df.loc[i, 'ML']
    underdog_ml = df.loc[i + 1, 'ML']
    favorite_score = df.loc[i, 'Final']
    underdog_score = df.loc[i + 1, 'Final']

    if favorite_score > underdog_score and favorite_ml < underdog_ml:
        df.at[i, 'W/L_fav'] = 1

In [354]:
df[['game_id', 'Team','ML','Open Spread', 'Close Spread', 'Final', 'W/L_fav']].head(4)

   game_id          Team     ML  Open Spread  Close Spread  Final  W/L_fav
0        1        Boston -175.0         -2.5          -4.0     90        0
1        1  Golden State  155.0          2.5           4.0    103        0
2        2  Golden State -165.0         -3.5          -4.0    104        1
3        2        Boston  145.0          3.5           4.0     94        0

In [355]:
df['W/L_dog'] = 0  # Initialize 'W/L_dog' column with zeros

for i in range(0, len(df), 2):
    favorite_ml = df.loc[i, 'ML']
    underdog_ml = df.loc[i + 1, 'ML']
    favorite_score = df.loc[i, 'Final']
    underdog_score = df.loc[i + 1, 'Final']

    if underdog_score > favorite_score and underdog_ml > favorite_ml:
        df.at[i + 1, 'W/L_dog'] = 1

In [356]:
df[['game_id', 'Team','ML','Open Spread', 'Close Spread', 'Final', 'W/L_fav', 'W/L_dog']].head(20)

,game_id,Team,ML,Open Spread,Close Spread,Final,W/L_fav,W/L_dog
0,1,Boston,-175.0,-2.5,-4.0,90,0,0
1,1,Golden State,155.0,2.5,4.0,103,0,1
2,2,Golden State,-165.0,-3.5,-4.0,104,1,0
3,2,Boston,145.0,3.5,4.0,94,0,0
4,3,Boston,-165.0,-2.5,-4.0,97,0,0
5,3,GoldenState,145.0,2.5,4.0,107,0,1
6,4,Boston,-155.0,-2.5,-3.5,116,1,0
7,4,GoldenState,135.0,2.5,3.5,100,0,0
8,5,GoldenState,-200.0,-3.5,-5.0,107,1,0
9,5,Boston,175.0,3.5,5.0,88,0,0
10,6,GoldenState,-165.0,-2.0,-3.5,108,0,0
11,6,Boston,145.0,2.0,3.5,120,0,1
12,7,Boston,-150.0,-2.5,-3.0,100,1,0
13,7,Miami,130.0,2.5,3.0,96,0,0
14,8,Boston,-400.0,-9.0,-8.5,103,0,0
15,8,Miami,330.0,9.0,8.5,111,0,1
16,9,GoldenState,-280.0,-7.5,-6.5,120,1,0
17,9,Dallas,240.0,7.5,6.5,110,0,0
18,10,Boston,-165.0,-1.5,-3.5,93,1,0
19,10,Miami,145.0,1.5,3.5,80,0,0

In [359]:
df.loc[df['game_id'] == 17985]

,game_id,Date,VH,Team,Final,ML,Open Total,Close Total,Open Spread,Close Spread,W/L_fav,W/L_dog
35968,17985,2007-10-30,V,Houston,95,-230.0,,,-2.5,-5.0,1,0
35969,17985,2007-10-30,H,LALakers,93,190.0,191.0,199.0,2.5,5.0,0,0

In [360]:
#df.to_csv('../nss_capstone/df_rebuild.csv')

In [234]:
df = pd.read_csv('../nss_capstone/df_rebuild.csv').drop(columns = 'Unnamed: 0').fillna('')

In [236]:
df.head(6)

,game_id,Date,VH,Team,Final,ML,Open Total,Close Total,Open Spread,Close Spread,W/L_fav,W/L_dog
0,1,2022-06-16,H,Boston,90,-175.0,,,-2.5,-4.0,0,0
1,1,2022-06-16,V,Golden State,103,155.0,212.5,211.5,2.5,4.0,0,1
2,2,2022-06-13,H,Golden State,104,-165.0,,,-3.5,-4.0,1,0
3,2,2022-06-13,V,Boston,94,145.0,212.5,211.0,3.5,4.0,0,0
4,3,2022-06-10,H,Boston,97,-165.0,,,-2.5,-4.0,0,0
5,3,2022-06-10,V,GoldenState,107,145.0,212.5,213.5,2.5,4.0,0,1

In [237]:
df['ATS_fav'] = 0  # Initialize 'ATS_fav' column with zeros

for i in range(0, len(df), 2):
    favorite_ml = df.loc[i, 'ML']
    underdog_ml = df.loc[i + 1, 'ML']
    favorite_score = df.loc[i, 'Final']
    underdog_score = df.loc[i + 1, 'Final']
    close_spread = df.loc[i, 'Close Spread']

    if favorite_score > underdog_score and favorite_ml < underdog_ml and abs(favorite_score - underdog_score) > abs(close_spread):
        df.at[i, 'ATS_fav'] = 1

In [238]:
df.head(20)#.loc[df['game_id'] ==17987]

,game_id,Date,VH,Team,Final,ML,Open Total,Close Total,Open Spread,Close Spread,W/L_fav,W/L_dog,ATS_fav
0,1,2022-06-16,H,Boston,90,-175.0,,,-2.5,-4.0,0,0,0
1,1,2022-06-16,V,Golden State,103,155.0,212.5,211.5,2.5,4.0,0,1,0
2,2,2022-06-13,H,Golden State,104,-165.0,,,-3.5,-4.0,1,0,1
3,2,2022-06-13,V,Boston,94,145.0,212.5,211.0,3.5,4.0,0,0,0
4,3,2022-06-10,H,Boston,97,-165.0,,,-2.5,-4.0,0,0,0
5,3,2022-06-10,V,GoldenState,107,145.0,212.5,213.5,2.5,4.0,0,1,0
6,4,2022-06-08,H,Boston,116,-155.0,,,-2.5,-3.5,1,0,1
7,4,2022-06-08,V,GoldenState,100,135.0,212.5,214.5,2.5,3.5,0,0,0
8,5,2022-06-06,H,GoldenState,107,-200.0,,,-3.5,-5.0,1,0,1
9,5,2022-06-06,V,Boston,88,175.0,212.5,213.5,3.5,5.0,0,0,0
10,6,2022-06-02,H,GoldenState,108,-165.0,,,-2.0,-3.5,0,0,0
11,6,2022-06-02,V,Boston,120,145.0,210.5,214.0,2.0,3.5,0,1,0
12,7,2022-05-29,V,Boston,100,-150.0,,,-2.5,-3.0,1,0,1
13,7,2022-05-29,H,Miami,96,130.0,200.5,198.0,2.5,3.0,0,0,0
14,8,2022-05-27,H,Boston,103,-400.0,,,-9.0,-8.5,0,0,0
15,8,2022-05-27,V,Miami,111,330.0,200.0,201.5,9.0,8.5,0,1,0
16,9,2022-05-26,H,GoldenState,120,-280.0,,,-7.5,-6.5,1,0,1
17,9,2022-05-26,V,Dallas,110,240.0,216.5,215.0,7.5,6.5,0,0,0
18,10,2022-05-25,V,Boston,93,-165.0,,,-1.5,-3.5,1,0,1
19,10,2022-05-25,H,Miami,80,145.0,204.0,203.5,1.5,3.5,0,0,0

In [241]:
df['W/L_H_fav'] = 0  

for i in range(0, len(df), 2):
#     favorite_ml = df.loc[i, 'ML']
#     underdog_ml = df.loc[i + 1, 'ML']
    favorite_score = df.loc[i, 'Final']
    underdog_score = df.loc[i + 1, 'Final']
    home = df.loc[i, 'VH']
    #away  = df.loc[i + 1, 'VH']
    
    if favorite_score > underdog_score and favorite_ml < underdog_ml and home == 'H':
        df.at[i, 'W/L_H_fav'] = 1

In [245]:
#df.loc[df['W/L_H_fav'] == 1]
df.loc[df['game_id'] == 17978]

,game_id,Date,VH,Team,Final,ML,Open Total,Close Total,Open Spread,Close Spread,W/L_fav,W/L_dog,ATS_fav,ATS_dog,W/L_H_fav
35954,17978,2007-10-31,H,NewOrleans,104,-525.0,,,-10.0,-9.5,1,0,1,0,1
35955,17978,2007-10-31,V,Sacramento,90,425.0,193.0,190.5,10.0,9.5,0,0,0,0,0

In [246]:
# Creat col for home underdogs won

df['W/L_V_fav'] = 0  

for i in range(0, len(df), 2):
#     favorite_ml = df.loc[i, 'ML']
#     underdog_ml = df.loc[i + 1, 'ML']
    favorite_score = df.loc[i, 'Final']
    underdog_score = df.loc[i + 1, 'Final']
    home = df.loc[i, 'VH']
    #away  = df.loc[i + 1, 'VH']
    
    if favorite_score > underdog_score and favorite_ml < underdog_ml and home == 'V':
        df.at[i, 'W/L_V_fav'] = 1

In [247]:
#df.loc[df['W/L_V_fav'] == 1]
df.loc[df['game_id'] == 7]

,game_id,Date,VH,Team,Final,ML,Open Total,Close Total,Open Spread,Close Spread,W/L_fav,W/L_dog,ATS_fav,ATS_dog,W/L_H_fav,W/L_V_fav
12,7,2022-05-29,V,Boston,100,-150.0,,,-2.5,-3.0,1,0,1,0,0,1
13,7,2022-05-29,H,Miami,96,130.0,200.5,198.0,2.5,3.0,0,0,0,0,0,0

In [197]:
# df = df.drop(columns = 'W/L_H_dog')

In [198]:
df

,game_id,Date,VH,Team,Final,ML,Open Total,Close Total,Open Spread,Close Spread,W/L_fav,W/L_dog,ATS_fav,ATS_dog,Push,W/L_V_fav
0,1,2022-06-16,H,Boston,90,-175.0,,,-2.5,-4.0,0,0,0,0,0,0
1,1,2022-06-16,V,Golden State,103,155.0,212.5,211.5,2.5,4.0,0,1,0,0,0,0
2,2,2022-06-13,H,Golden State,104,-165.0,,,-3.5,-4.0,1,0,1,0,0,0
3,2,2022-06-13,V,Boston,94,145.0,212.5,211.0,3.5,4.0,0,0,0,0,0,0
4,3,2022-06-10,H,Boston,97,-165.0,,,-2.5,-4.0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35969,17985,2007-10-30,H,LALakers,93,190.0,191.0,199.0,2.5,5.0,0,0,0,0,0,0
35970,17986,2007-10-30,H,GoldenState,96,-120.0,,,-3.0,-1.0,0,0,0,0,0,0
35971,17986,2007-10-30,V,Utah,117,100.0,214.5,212.0,3.0,1.0,0,1,0,0,0,0
35972,17987,2007-10-30,H,SanAntonio,106,-1400.0,,,-12.5,-13.0,1,0,0,1,0,0
35973,17987,2007-10-30,V,Portland,97,900.0,184.0,189.5,12.5,13.0,0,0,0,0,0,0

In [248]:
# Created col for dog win at home

df['W/L_H_dog'] = 0  

for i in range(0, len(df), 2):
    favorite_ml = df.loc[i, 'ML']
    underdog_ml = df.loc[i + 1, 'ML']
    favorite_score = df.loc[i, 'Final']
    underdog_score = df.loc[i + 1, 'Final']
    home = df.loc[i, 'VH']


    if underdog_score > favorite_score and underdog_ml > favorite_ml and home != 'H':
        df.at[i + 1, 'W/L_H_dog'] = 1

In [249]:
df.loc[df['game_id'] == 17983]
#df.loc[df['W/L_H_dog'] == 1]

,game_id,Date,VH,Team,Final,ML,Open Total,Close Total,Open Spread,Close Spread,W/L_fav,W/L_dog,ATS_fav,ATS_dog,W/L_H_fav,W/L_V_fav,W/L_H_dog
35964,17983,2007-10-31,V,Washington,110,-125.0,200.0,,1.5,-1.5,0,0,0,0,0,0,0
35965,17983,2007-10-31,H,Indiana,119,105.0,,203.5,-1.5,1.5,0,1,0,0,0,0,1

In [250]:
df['W/L_V_dog'] = 0  

for i in range(0, len(df), 2):
    favorite_ml = df.loc[i, 'ML']
    underdog_ml = df.loc[i + 1, 'ML']
    favorite_score = df.loc[i, 'Final']
    underdog_score = df.loc[i + 1, 'Final']
    home = df.loc[i, 'VH']


    if underdog_score > favorite_score and underdog_ml > favorite_ml and home != 'V':
        df.at[i + 1, 'W/L_V_dog'] = 1

In [251]:
df.loc[df['W/L_V_dog'] == 1]
df.loc[df['game_id'] == 17970]

,game_id,Date,VH,Team,Final,ML,Open Total,Close Total,Open Spread,Close Spread,W/L_fav,W/L_dog,ATS_fav,ATS_dog,W/L_H_fav,W/L_V_fav,W/L_H_dog,W/L_V_dog
35938,17970,2007-11-02,H,NewJersey,69,-175.0,,,-5.0,-4.0,0,0,0,0,0,0,0,0
35939,17970,2007-11-02,V,Toronto,106,155.0,192.5,193.5,5.0,4.0,0,1,0,0,0,0,0,1

In [252]:
df['ATS_H_fav'] = 0  # Initialize 'ATS_fav' column with zeros

for i in range(0, len(df), 2):
    favorite_ml = df.loc[i, 'ML']
    underdog_ml = df.loc[i + 1, 'ML']
    favorite_score = df.loc[i, 'Final']
    underdog_score = df.loc[i + 1, 'Final']
    close_spread = df.loc[i, 'Close Spread']
    home = df.loc[i, 'VH']

    if favorite_score > underdog_score and favorite_ml < underdog_ml and abs(favorite_score - underdog_score) > abs(close_spread) and home == 'H':
        df.at[i, 'ATS_H_fav'] = 1

In [253]:
df.loc[df['ATS_H_fav'] == 1]
df.loc[df['game_id'] == 11]

,game_id,Date,VH,Team,Final,ML,Open Total,Close Total,Open Spread,Close Spread,W/L_fav,W/L_dog,ATS_fav,ATS_dog,W/L_H_fav,W/L_V_fav,W/L_H_dog,W/L_V_dog,ATS_H_fav
20,11,2022-05-24,H,Dallas,119,-125.0,,,-1.0,-1.5,1,0,1,0,1,0,0,0,1
21,11,2022-05-24,V,GoldenState,109,105.0,215.5,215.5,1.0,1.5,0,0,0,0,0,0,0,0,0

In [254]:
df['ATS_V_fav'] = 0  # Initialize 'ATS_fav' column with zeros

for i in range(0, len(df), 2):
    favorite_ml = df.loc[i, 'ML']
    underdog_ml = df.loc[i + 1, 'ML']
    favorite_score = df.loc[i, 'Final']
    underdog_score = df.loc[i + 1, 'Final']
    close_spread = df.loc[i, 'Close Spread']
    home = df.loc[i, 'VH']

    if favorite_score > underdog_score and favorite_ml < underdog_ml and abs(favorite_score - underdog_score) > abs(close_spread) and home == 'V':
        df.at[i, 'ATS_V_fav'] = 1

In [255]:
#df.loc[df['ATS_V_fav'] == 1]
df.loc[df['game_id'] == 47]

,game_id,Date,VH,Team,Final,ML,Open Total,Close Total,Open Spread,Close Spread,W/L_fav,W/L_dog,ATS_fav,ATS_dog,W/L_H_fav,W/L_V_fav,W/L_H_dog,W/L_V_dog,ATS_H_fav,ATS_V_fav
92,47,2022-04-28,V,Dallas,98,-120.0,210.5,,1.5,-1.0,1,0,1,0,0,1,0,0,0,1
93,47,2022-04-28,H,Utah,96,100.0,,210.0,-1.5,1.0,0,0,0,0,0,0,0,0,0,0

In [256]:
df['ATS_H_dog'] = 0  # Initialize 'ATS_H_dog' column with zeros

for i in range(0, len(df), 2):
    game_id = df.loc[i, 'game_id']
    underdog_home = df.loc[i + 1, 'VH']
    favorite_score = df.loc[i, 'Final']
    underdog_score = df.loc[i + 1, 'Final']
    close_spread = df.loc[i, 'Close Spread']
 
    if underdog_score < favorite_score and abs(favorite_score - underdog_score) < abs(close_spread) and underdog_home == 'H':
        df.at[i + 1, 'ATS_H_dog'] = 1

In [257]:
#df.loc[df['ATS_H_dog'] == 1]
df.loc[df['game_id'] == 145]

,game_id,Date,VH,Team,Final,ML,Open Total,Close Total,Open Spread,Close Spread,...,W/L_dog,ATS_fav,ATS_dog,W/L_H_fav,W/L_V_fav,W/L_H_dog,W/L_V_dog,ATS_H_fav,ATS_V_fav,ATS_H_dog
288,145,2022-04-05,V,Philadelphia,131,-700.0,,,-12.5,-11.0,...,0,0,1,0,1,0,0,0,0,0
289,145,2022-04-05,H,Indiana,122,500.0,231.0,235.0,12.5,11.0,...,0,0,0,0,0,0,0,0,0,1

In [258]:
df['ATS_V_dog'] = 0  # Initialize 'ATS_H_dog' column with zeros

for i in range(0, len(df), 2):
    game_id = df.loc[i, 'game_id']
    underdog_home = df.loc[i + 1, 'VH']
    favorite_score = df.loc[i, 'Final']
    underdog_score = df.loc[i + 1, 'Final']
    close_spread = df.loc[i, 'Close Spread']
 
    if underdog_score < favorite_score and abs(favorite_score - underdog_score) < abs(close_spread) and underdog_home == 'V':
        df.at[i + 1, 'ATS_V_dog'] = 1

In [261]:
#df.loc[df['ATS_V_dog'] == 1]
df.loc[df['game_id'] == 53]

,game_id,Date,VH,Team,Final,ML,Open Total,Close Total,Open Spread,Close Spread,...,ATS_fav,ATS_dog,W/L_H_fav,W/L_V_fav,W/L_H_dog,W/L_V_dog,ATS_H_fav,ATS_V_fav,ATS_H_dog,ATS_V_dog
104,53,2022-04-26,H,Miami,97,-185.0,,,-7.0,-4.0,...,0,1,1,0,0,0,0,0,0,0
105,53,2022-04-26,V,Atlanta,94,165.0,218.0,216.0,7.0,4.0,...,0,0,0,0,0,0,0,0,0,1

In [262]:
# Add Push col
df['Push'] = 0  # Initialize 'ATS_fav_less' column with zeros

for i in range(0, len(df), 2):
#     favorite_ml = df.loc[i, 'ML']
#     underdog_ml = df.loc[i + 1, 'ML']
    favorite_score = df.loc[i, 'Final']
    underdog_score = df.loc[i + 1, 'Final']
    close_spread = df.loc[i, 'Close Spread']
 
    if abs(favorite_score - underdog_score) == abs(close_spread):
        df.at[i, 'Push'] = 1

In [264]:
#df.loc[df['Push'] == 1]
df.loc[df['game_id'] == 260]

,game_id,Date,VH,Team,Final,ML,Open Total,Close Total,Open Spread,Close Spread,...,ATS_dog,W/L_H_fav,W/L_V_fav,W/L_H_dog,W/L_V_dog,ATS_H_fav,ATS_V_fav,ATS_H_dog,ATS_V_dog,Push
518,260,2022-03-20,H,Atlanta,112,-200.0,,,-3.5,-5.0,...,0,0,0,0,0,0,0,0,0,1
519,260,2022-03-20,V,NewOrleans,117,175.0,232.5,235.0,3.5,5.0,...,0,0,0,0,1,0,0,0,0,0

In [265]:
df.to_csv('../nss_capstone/df_rebuild.csv')

In [269]:
df = pd.read_csv('../nss_capstone/df_rebuild.csv').drop(columns = 'Unnamed: 0').fillna('')

In [270]:
df

,game_id,Date,VH,Team,Final,ML,Open Total,Close Total,Open Spread,Close Spread,...,ATS_dog,W/L_H_fav,W/L_V_fav,W/L_H_dog,W/L_V_dog,ATS_H_fav,ATS_V_fav,ATS_H_dog,ATS_V_dog,Push
0,1,2022-06-16,H,Boston,90,-175.0,,,-2.5,-4.0,...,0,0,0,0,0,0,0,0,0,0
1,1,2022-06-16,V,Golden State,103,155.0,212.5,211.5,2.5,4.0,...,0,0,0,0,1,0,0,0,0,0
2,2,2022-06-13,H,Golden State,104,-165.0,,,-3.5,-4.0,...,0,1,0,0,0,1,0,0,0,0
3,2,2022-06-13,V,Boston,94,145.0,212.5,211.0,3.5,4.0,...,0,0,0,0,0,0,0,0,0,0
4,3,2022-06-10,H,Boston,97,-165.0,,,-2.5,-4.0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35969,17985,2007-10-30,H,LALakers,93,190.0,191.0,199.0,2.5,5.0,...,0,0,0,0,0,0,0,1,0,0
35970,17986,2007-10-30,H,GoldenState,96,-120.0,,,-3.0,-1.0,...,0,0,0,0,0,0,0,0,0,0
35971,17986,2007-10-30,V,Utah,117,100.0,214.5,212.0,3.0,1.0,...,0,0,0,0,1,0,0,0,0,0
35972,17987,2007-10-30,H,SanAntonio,106,-1400.0,,,-12.5,-13.0,...,1,1,0,0,0,0,0,0,0,0
35973,17987,2007-10-30,V,Portland,97,900.0,184.0,189.5,12.5,13.0,...,0,0,0,0,0,0,0,0,1,0

In [ ]:
# All cols are compared vs the closing line
w/l_fav = If fav won or lost
w/l_dog = If dog won or lost *is dog wins they also cover*
ats_fav = If fav won by margin greater than the closing line
ats_dog = If dog lost the game but had a final score within the closing line spread
push = If both teams final score equaled the closing line number.