In [79]:
import pandas as pd
import numpy as np
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.impute import SimpleImputer
from sklearn.calibration import CalibratedClassifierCV
import matplotlib.pyplot as plt
import math
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from xgboost import XGBClassifier
from sklearn.model_selection import GroupKFold

In [119]:
payout = pd.read_csv('../nss_capstone/payout.csv').drop(columns = 'Unnamed: 0')

variables = ['ML'] 

X = payout[variables]
y = payout['W/L_bool']

imputer = SimpleImputer(strategy='mean')
imputer.fit(X)

X_imputed = imputer.transform(X)

base_classifier = GradientBoostingClassifier()# XGBClassifier()
calibrated_classifier = CalibratedClassifierCV(base_classifier, method='sigmoid')

# Perform 5-fold cross-validation
num_folds = 5
kfold = KFold(n_splits=num_folds, shuffle=True, random_state=42)
scores = cross_val_score(calibrated_classifier, X_imputed, y, cv=kfold)

print("Cross-validation scores:", scores)
print("Mean score:", np.mean(scores))

# Calculate profitability for each fold
threshold = 0.02  # Adjust the threshold as per your requirement
profits = []
replaced_wagers = []
bets_won = []
bets_lost = []

for train_index, test_index in kfold.split(X_imputed):
    X_train, X_test = X_imputed[train_index], X_imputed[test_index]
    y_train, y_test = y[train_index], y[test_index]

    calibrated_classifier.fit(X_train, y_train)
    predicted_probabilities = calibrated_classifier.predict_proba(X_test)[:, 1]
    closing_moneyline_odds = payout.loc[test_index, 'ML_pct']

    percentage_differences = predicted_probabilities - closing_moneyline_odds    
    selected_bets = percentage_differences >= threshold

    wager = 100  # Set the wager amount to $100
    profit = sum(selected_bets * (wager * closing_moneyline_odds - wager))
    profits.append(profit)

    replaced_wagers.append(sum(selected_bets))
    bets_won.append(sum(selected_bets * y_test))  # Sum of bets won (replaced wagers)
    bets_lost.append(sum(selected_bets * (1 - y_test)))  # Sum of bets lost (replaced wagers)

    

## Print the profits for each fold
for fold, profit in enumerate(profits):
    print(f"Profit for Fold {fold + 1}: ${profit:.2f}")

# Print the number of replaced wagers for each fold
for fold, replaced in enumerate(replaced_wagers):
    print(f"Replaced Wagers for Fold {fold + 1}: {replaced}")

# Print the sum of bets won and bets lost per fold
for fold in range(num_folds):
    print(f"Wager Outcomes for Fold {fold + 1}:")
    print(f"Bets Won: {bets_won[fold]}")
    print(f"Bets Lost: {bets_lost[fold]}")

Cross-validation scores: [0.68895066 0.68130646 0.68241835 0.68700486 0.69655268]
Mean score: 0.6872466032712381
Profit for Fold 1: $nan
Profit for Fold 2: $nan
Profit for Fold 3: $-19768.37
Profit for Fold 4: $-24037.26
Profit for Fold 5: $-7906.58
Replaced Wagers for Fold 1: 175
Replaced Wagers for Fold 2: 277
Replaced Wagers for Fold 3: 309
Replaced Wagers for Fold 4: 385
Replaced Wagers for Fold 5: 114
Wager Outcomes for Fold 1:
Bets Won: 50
Bets Lost: 125
Wager Outcomes for Fold 2:
Bets Won: 101
Bets Lost: 176
Wager Outcomes for Fold 3:
Bets Won: 113
Bets Lost: 196
Wager Outcomes for Fold 4:
Bets Won: 137
Bets Lost: 248
Wager Outcomes for Fold 5:
Bets Won: 45
Bets Lost: 69

In [85]:
payout = pd.read_csv('../nss_capstone/payout.csv').drop(columns='Unnamed: 0')

variables = ['ML'] 
X = payout[variables]
y = payout['W/L_bool']

imputer = SimpleImputer(strategy='mean')
imputer.fit(X)
X_imputed = imputer.transform(X)

base_classifier = GradientBoostingClassifier()
calibrated_classifier = CalibratedClassifierCV(base_classifier, method='sigmoid')

# Define the group indices based on game IDs
group_indices = payout['game_id'].values // 2  # Divide game IDs by 2 to group every two rows as one game

# Perform 5-fold cross-validation with grouping
num_folds = 5
group_kfold = GroupKFold(n_splits=num_folds)

# Calculate cross-validation scores
scores = cross_val_score(calibrated_classifier, X_imputed, y, cv=group_kfold, groups=group_indices)

print("Cross-validation scores:", scores)
print("Mean score:", np.mean(scores))

threshold = 0.02  # Adjust the threshold as per your requirement
profits = []
replaced_wagers = []
bets_won = []
bets_lost = []

# Define the group indices based on game IDs
group_indices = payout['game_id'].values // 2  # Divide game IDs by 2 to group every two rows as one game

group_kfold = GroupKFold(n_splits=num_folds)

for train_index, test_index in group_kfold.split(X_imputed, y, groups=group_indices):
    X_train, X_test = X_imputed[train_index], X_imputed[test_index]
    y_train, y_test = y[train_index], y[test_index]

    calibrated_classifier.fit(X_train, y_train)
    predicted_probabilities = calibrated_classifier.predict_proba(X_test)[:, 1]
    closing_moneyline_odds = payout.loc[test_index, 'ML_pct'].reset_index(drop=True)

    percentage_differences = predicted_probabilities - closing_moneyline_odds    
    selected_bets = percentage_differences >= threshold

    wager = 100  # Set the wager amount to $100
    profit = np.sum(selected_bets * (wager * closing_moneyline_odds - wager))
    profits.append(profit)

    replaced_wagers.append(np.sum(selected_bets))
    bets_won.append(np.sum(selected_bets * y_test))  # Sum of bets won (replaced wagers)
    bets_lost.append(np.sum(selected_bets * (1 - y_test)))  # Sum of bets lost (replaced wagers)
    
    # Print the profits for each fold
for fold, profit in enumerate(profits):
    print(f"Profit for Fold {fold + 1}: ${profit:.2f}")

# Print the number of replaced wagers for each fold
for fold, replaced in enumerate(replaced_wagers):
    print(f"Replaced Wagers for Fold {fold + 1}: {replaced}")

# Print the sum of bets won and bets lost per fold
for fold in range(num_folds):
    print(f"Wager Outcomes for Fold {fold + 1}:")
    print(f"Bets Won: {bets_won[fold]}")
    print(f"Bets Lost: {bets_lost[fold]}")

Cross-validation scores: [0.68301834 0.68941078 0.67481934 0.69641368 0.69521691]
Mean score: 0.6877758114226467
Profit for Fold 1: $-15582.92
Profit for Fold 2: $-17779.94
Profit for Fold 3: $-13160.62
Profit for Fold 4: $-21625.58
Profit for Fold 5: $-16349.74
Replaced Wagers for Fold 1: 251
Replaced Wagers for Fold 2: 258
Replaced Wagers for Fold 3: 196
Replaced Wagers for Fold 4: 343
Replaced Wagers for Fold 5: 262
Wager Outcomes for Fold 1:
Bets Won: 17.0
Bets Lost: 35.0
Wager Outcomes for Fold 2:
Bets Won: 17.0
Bets Lost: 33.0
Wager Outcomes for Fold 3:
Bets Won: 18.0
Bets Lost: 34.0
Wager Outcomes for Fold 4:
Bets Won: 31.0
Bets Lost: 43.0
Wager Outcomes for Fold 5:
Bets Won: 15.0
Bets Lost: 33.0

In [117]:
payout = pd.read_csv('../nss_capstone/payout.csv').drop(columns='Unnamed: 0')

variables = ['ML_pct']
X = payout[variables]
y = payout['W/L_bool']

imputer = SimpleImputer(strategy='mean')
imputer.fit(X)
X_imputed = imputer.transform(X)

base_classifier = GradientBoostingClassifier()
calibrated_classifier = CalibratedClassifierCV(base_classifier, method='sigmoid')

num_folds = 5
kfold = KFold(n_splits=num_folds, shuffle=True, random_state=42)

threshold = 0.02  # Adjust the threshold as per your requirement
min_odds = 0.35 # Minimum odds threshold



profits = []
bets_made = []
bets_won = []
bets_lost = []

for fold, (train_index, test_index) in enumerate(kfold.split(X_imputed)):
    X_train, X_test = X_imputed[train_index], X_imputed[test_index]
    y_train, y_test = y[train_index], y[test_index]

    calibrated_classifier.fit(X_train, y_train)
    predicted_probabilities = calibrated_classifier.predict_proba(X_test)[:, 1]
    closing_moneyline_odds = payout.loc[test_index, 'ML_pct'].reset_index(drop=True)

    percentage_differences = predicted_probabilities - closing_moneyline_odds    
    selected_bets = (percentage_differences >= threshold) & (closing_moneyline_odds > min_odds)

    wagers = np.where(selected_bets, 100, 0)
    odds = closing_moneyline_odds.values
    percentage_diffs = percentage_differences.values

    wager_outcomes = pd.DataFrame({'Wager': wagers, 'Odds': odds, 'Percentage Difference': percentage_diffs})

    # Add the 'Outcome' column indicating whether the wager won or lost
    wager_outcomes['Outcome'] = np.where(wager_outcomes['Wager'] > 0, np.where(y_test == 1, 'Won', 'Lost'), '')

    print(f"Fold {fold + 1} Wager Outcomes:")
    print(wager_outcomes[wager_outcomes['Wager'] > 0])

    wager = 100  # Set the wager amount to $100

    profit = np.sum(wager * selected_bets * (y_test - 0.5))
    profits.append(profit)

    bets_made.append(np.sum(selected_bets))
    bets_won_fold = np.sum(selected_bets & (y_test == 1))
    bets_lost_fold = np.sum(selected_bets & (y_test == 0))
    bets_won.append(bets_won_fold)
    bets_lost.append(bets_lost_fold)

# Print the profits for each fold
for fold, profit in enumerate(profits):
    print(f"Profit for Fold {fold + 1}: ${profit:.2f}")

# Print the number of bets made for each fold
for fold, bets in enumerate(bets_made):
    print(f"Bets made for Fold {fold + 1}: {bets}")

# Print the sum of bets won and bets lost per fold
for fold in range(num_folds):
    print(f"Wager Outcomes for Fold {fold + 1}:")
    print(f"Bets Won: {bets_won[fold]}")
    print(f"Bets Lost: {bets_lost[fold]}")

Fold 1 Wager Outcomes:
      Wager    Odds  Percentage Difference Outcome
190     100  0.3922               0.026605    Lost
263     100  0.3922               0.026605    Lost
298     100  0.3922               0.026605     Won
364     100  0.3922               0.026605     Won
371     100  0.3922               0.026605    Lost
...     ...     ...                    ...     ...
6813    100  0.3922               0.026605     Won
6897    100  0.3922               0.026605     Won
6902    100  0.3922               0.026605     Won
6916    100  0.3922               0.026605    Lost
7093    100  0.3922               0.026605    Lost

[89 rows x 4 columns]
Fold 2 Wager Outcomes:
      Wager    Odds  Percentage Difference Outcome
9       100  0.3922               0.040210     Won
87      100  0.3922               0.040210    Lost
90      100  0.4000               0.030305    Lost
92      100  0.4167               0.026905    Lost
135     100  0.3922               0.040210    Lost
...     ...     ...                    ...     ...
7095    100  0.4167               0.026905    Lost
7126    100  0.3922               0.040210     Won
7145    100  0.4167               0.026905    Lost
7176    100  0.4167               0.026905     Won
7188    100  0.4167               0.026905     Won

[234 rows x 4 columns]
Fold 3 Wager Outcomes:
      Wager    Odds  Percentage Difference Outcome
32      100  0.3922               0.035342     Won
61      100  0.4167               0.026195    Lost
70      100  0.4167               0.026195    Lost
84      100  0.4000               0.022728     Won
86      100  0.4167               0.026195    Lost
...     ...     ...                    ...     ...
7022    100  0.4167               0.026195    Lost
7063    100  0.4000               0.022728    Lost
7134    100  0.4000               0.022728    Lost
7180    100  0.3922               0.035342     Won
7187    100  0.4000               0.022728    Lost

[243 rows x 4 columns]
Fold 4 Wager Outcomes:
      Wager    Odds  Percentage Difference Outcome
26      100  0.4255               0.020622    Lost
58      100  0.3922               0.057486     Won
139     100  0.4167               0.029196    Lost
172     100  0.4167               0.029196    Lost
184     100  0.4167               0.029196    Lost
...     ...     ...                    ...     ...
7085    100  0.3922               0.057486    Lost
7115    100  0.3922               0.057486     Won
7142    100  0.3922               0.057486    Lost
7174    100  0.4255               0.020622     Won
7176    100  0.4167               0.029196     Won

[340 rows x 4 columns]
Fold 5 Wager Outcomes:
      Wager    Odds  Percentage Difference Outcome
0       100  0.3922               0.021778     Won
256     100  0.3922               0.021778    Lost
318     100  0.3922               0.021778    Lost
572     100  0.3922               0.021778    Lost
763     100  0.3922               0.021778     Won
...     ...     ...                    ...     ...
6880    100  0.3922               0.021778    Lost
6901    100  0.3922               0.021778    Lost
6986    100  0.3922               0.021778    Lost
7068    100  0.3922               0.021778     Won
7186    100  0.3922               0.021778     Won

[81 rows x 4 columns]
Profit for Fold 1: $-100.00
Profit for Fold 2: $100.00
Profit for Fold 3: $150.00
Profit for Fold 4: $-1050.00
Profit for Fold 5: $150.00
Bets made for Fold 1: 89
Bets made for Fold 2: 234
Bets made for Fold 3: 243
Bets made for Fold 4: 340
Bets made for Fold 5: 81
Wager Outcomes for Fold 1:
Bets Won: 12
Bets Lost: 14
Wager Outcomes for Fold 2:
Bets Won: 22
Bets Lost: 20
Wager Outcomes for Fold 3:
Bets Won: 24
Bets Lost: 21
Wager Outcomes for Fold 4:
Bets Won: 21
Bets Lost: 42
Wager Outcomes for Fold 5:
Bets Won: 10
Bets Lost: 7

In [116]:
# df = pd.read_csv('../nss_capstone/df_rebuild.csv')

# variables = ['ML_pct',
#             'Close Total',
#              'Close Spread']

# X = df[variables]
# y = df['W/L_bool']

# grouped = df.groupby('game_id')
# train_indices, test_indices = [], []
# for _, group_indices in grouped.groups.items():
#     group_train_indices, group_test_indices = train_test_split(group_indices, test_size=0.2, random_state=321)
#     train_indices.extend(group_train_indices)
#     test_indices.extend(group_test_indices)

# X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# imputer = SimpleImputer(strategy='mean')

# imputer.fit(X_train)

# X_train_imputed = imputer.transform(X_train)
# X_test_imputed = imputer.transform(X_test)

# base_classifier = GradientBoostingClassifier()

# calibrated_classifier = CalibratedClassifierCV(base_classifier, method='sigmoid', cv=5) # isotonic/ cv?

# calibrated_classifier.fit(X_train_imputed, y_train)

# probabilities = calibrated_classifier.predict_proba(X_test_imputed)

In [66]:
# df_prob = pd.DataFrame(probabilities, columns=['Class 0 Probability', 'Class 1 Probability'])

In [67]:
# df_prob

      Class 0 Probability  Class 1 Probability
0                0.585905             0.414095
1                0.739234             0.260766
2                0.772590             0.227410
3                0.119895             0.880105
4                0.868366             0.131634
...                   ...                  ...
7190             0.650899             0.349101
7191             0.682882             0.317118
7192             0.586431             0.413569
7193             0.804924             0.195076
7194             0.655209             0.344791

[7195 rows x 2 columns]

In [192]:
payout = pd.read_csv('../nss_capstone/payout.csv').drop(columns = 'Unnamed: 0').fillna('')
payout['ML_pct'] = pd.to_numeric(payout['ML_pct'], errors='coerce')
payout['ML_pct'] = payout['ML_pct'] /100

In [194]:
#payout.to_csv('../nss_capstone/payout.csv')

In [141]:
# df_rebuild_wager = pd.read_csv('../nss_capstone/df_rebuild.csv').drop(columns = 'Unnamed: 0').fillna('')

In [182]:
# df_rebuild_wager

In [143]:
df_rebuild_wager = df_rebuild_wager[['game_id','ML','ML_pct','W/L_bool']]

In [144]:
df_rebuild_wager['ML'] = pd.to_numeric(df_rebuild_wager['ML'], errors='coerce')

# Calculate the 'Payout' column
df_rebuild_wager['Payout'] = df_rebuild_wager.groupby('game_id')['ML'].transform(lambda x: (100 / abs(x.iloc[0])) * 100)
df_rebuild_wager.loc[df_rebuild_wager.groupby('game_id').cumcount() > 0, 'Payout'] = np.nan

C:\Users\tjsim\AppData\Local\Temp\ipykernel_46428\3334763452.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_rebuild_wager['ML'] = pd.to_numeric(df_rebuild_wager['ML'], errors='coerce')
C:\Users\tjsim\AppData\Local\Temp\ipykernel_46428\3334763452.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_rebuild_wager['Payout'] = df_rebuild_wager.groupby('game_id')['ML'].transform(lambda x: (100 / abs(x.iloc[0])) * 100)

In [145]:
# Replace NaN values in the second row with corresponding payout values
second_row_mask = df_rebuild_wager.groupby('game_id').cumcount() == 1
df_rebuild_wager.loc[second_row_mask, 'Payout'] = df_rebuild_wager.loc[second_row_mask, 'ML'].abs()

In [146]:
df_rebuild_wager['Payout'] = df_rebuild_wager['Payout'].apply(lambda x: math.ceil(x * 100) / 100 if not math.isnan(x) else x)

C:\Users\tjsim\AppData\Local\Temp\ipykernel_46428\561021500.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_rebuild_wager['Payout'] = df_rebuild_wager['Payout'].apply(lambda x: math.ceil(x * 100) / 100 if not math.isnan(x) else x)

In [147]:
payout = df_rebuild_wager

In [150]:
#payout.to_csv('../nss_capstone/payout.csv')

In [123]:
df_rebuild_wager['Game'] = (df_rebuild_wager.index // 2) + 1

# Set multi-index by 'Game' and the row number within each game
df_rebuild_wager.set_index(['Game', df_rebuild_wager.groupby('Game').cumcount()], inplace=True)

# Unstack the DataFrame
pivoted_df = df_rebuild_wager.unstack()

# Flatten the column index
pivoted_df.columns = [f'{col}_{num}' for col, num in pivoted_df.columns]

df_rebuild_wager = pd.DataFrame(pivoted_df)

df_rebuild_wager

C:\Users\tjsim\AppData\Local\Temp\ipykernel_46428\4286494612.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_rebuild_wager['Game'] = (df_rebuild_wager.index // 2) + 1

,game_id_0,game_id_1,ML_0,ML_1,ML_pct_0,ML_pct_1,W/L_bool_0,W/L_bool_1,Payout_0,Payout_1
Game,,,,,,,,,,
1,1,1,-175.0,155.0,63.64,39.22,0,1,57.15,155.0
2,2,2,-165.0,145.0,62.26,40.82,1,0,60.61,145.0
3,3,3,-165.0,145.0,62.26,40.82,0,1,60.61,145.0
4,4,4,-155.0,135.0,60.78,42.55,1,0,64.52,135.0
5,5,5,-200.0,175.0,66.67,36.36,1,0,50.00,175.0
...,...,...,...,...,...,...,...,...,...,...
17983,17983,17983,-125.0,105.0,55.56,48.78,0,1,80.00,105.0
17984,17984,17984,-305.0,255.0,75.31,28.17,1,0,32.79,255.0
17985,17985,17985,-230.0,190.0,69.7,34.48,1,0,43.48,190.0
17986,17986,17986,-120.0,100.0,54.55,50.0,0,1,83.34,100.0
17987,17987,17987,-1400.0,900.0,93.33,10.0,1,0,7.15,900.0

In [124]:
df_rebuild_wager = pd.merge(df_rebuild_wager, df_prob, how='inner', left_index=True, right_index=True)

In [125]:
df_rebuild_wager

,game_id_0,game_id_1,ML_0,ML_1,ML_pct_0,ML_pct_1,W/L_bool_0,W/L_bool_1,Payout_0,Payout_1,Class 0 Probability,Class 1 Probability
1,1,1,-175.0,155.0,63.64,39.22,0,1,57.15,155.0,0.739234,0.260766
2,2,2,-165.0,145.0,62.26,40.82,1,0,60.61,145.0,0.772590,0.227410
3,3,3,-165.0,145.0,62.26,40.82,0,1,60.61,145.0,0.119895,0.880105
4,4,4,-155.0,135.0,60.78,42.55,1,0,64.52,135.0,0.868366,0.131634
5,5,5,-200.0,175.0,66.67,36.36,1,0,50.00,175.0,0.585948,0.414052
...,...,...,...,...,...,...,...,...,...,...,...,...
7190,7190,7190,-340.0,280.0,77.27,26.32,0,1,29.42,280.0,0.650899,0.349101
7191,7191,7191,-165.0,145.0,62.26,40.82,1,0,60.61,145.0,0.682882,0.317118
7192,7192,7192,-1750.0,950.0,94.59,9.52,1,0,5.72,950.0,0.586431,0.413569
7193,7193,7193,-290.0,230.0,74.36,30.3,1,0,34.49,230.0,0.804924,0.195076
7194,7194,7194,-400.0,325.0,80.0,23.53,1,0,25.00,325.0,0.655209,0.344791

In [126]:
df_rebuild_wager = df_rebuild_wager.rename(columns = {'game_id_1': 'game_id', 'ML_0': 'ML_fav',
                       'ML_1': 'ML_dog', 'ML_pct_0':'ML_fav_pct',
                       'ML_pct_1': 'ML_dog_pct','Class 0 Probability': 'Predict_dog',
                        'Class 1 Probability': 'Predict_fav','Payout_0': 'Payout_fav',
                       'Payout_1': 'Payout_dog', 'W/L_bool_0': 'W/L_fav',
                       'W/L_bool_1':'W/L_dog'})

In [128]:
df_rebuild_wager = df_rebuild_wager[['game_id','ML_fav','ML_dog','ML_fav_pct','ML_dog_pct', 'Predict_fav','Predict_dog',
          'W/L_fav','W/L_dog','Payout_fav','Payout_dog']]

In [129]:
df_rebuild_wager

,game_id,ML_fav,ML_dog,ML_fav_pct,ML_dog_pct,Predict_fav,Predict_dog,W/L_fav,W/L_dog,Payout_fav,Payout_dog
1,1,-175.0,155.0,63.64,39.22,0.260766,0.739234,0,1,57.15,155.0
2,2,-165.0,145.0,62.26,40.82,0.227410,0.772590,1,0,60.61,145.0
3,3,-165.0,145.0,62.26,40.82,0.880105,0.119895,0,1,60.61,145.0
4,4,-155.0,135.0,60.78,42.55,0.131634,0.868366,1,0,64.52,135.0
5,5,-200.0,175.0,66.67,36.36,0.414052,0.585948,1,0,50.00,175.0
...,...,...,...,...,...,...,...,...,...,...,...
7190,7190,-340.0,280.0,77.27,26.32,0.349101,0.650899,0,1,29.42,280.0
7191,7191,-165.0,145.0,62.26,40.82,0.317118,0.682882,1,0,60.61,145.0
7192,7192,-1750.0,950.0,94.59,9.52,0.413569,0.586431,1,0,5.72,950.0
7193,7193,-290.0,230.0,74.36,30.3,0.195076,0.804924,1,0,34.49,230.0
7194,7194,-400.0,325.0,80.0,23.53,0.344791,0.655209,1,0,25.00,325.0

In [130]:
df_rebuild_wager.to_csv('../nss_capstone/df_rebuild_wager.csv')

In [153]:
df = pd.read_csv('../nss_capstone/df_rebuild_wager.csv').drop(columns = 'Unnamed: 0')
df.head(3)

,game_id,ML_fav,ML_dog,ML_fav_pct,ML_dog_pct,Predict_fav,Predict_dog,W/L_fav,W/L_dog,Payout_fav,Payout_dog
0,1,-175.0,155.0,63.64,39.22,0.260766,0.739234,0,1,57.15,155.0
1,2,-165.0,145.0,62.26,40.82,0.227410,0.772590,1,0,60.61,145.0
2,3,-165.0,145.0,62.26,40.82,0.880105,0.119895,0,1,60.61,145.0